
/* =================== Nav Bills  ===================== */
.back {
    background: #4269EF 0% 0% no-repeat padding-box;
    border-radius: 0px 26px 0px 0px;
    min-height: 135px;
    padding: 20px;
}
.back a{
    color: #FFF;
    display: flex;
    font: normal normal normal 18px/29px "bahij_Helvetica_roman";
    color: #FFFFFF;
}
.back svg{margin-left: 10px}



.profile_nav_list {
    padding-top: 110px;
}

.profile_nav_list li {
    display: flex;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 10%;
    background:#FAFAFA  0% 0% no-repeat padding-box;
    border-radius: 34px 0px 0px 34px;
}

.profile_nav_list li.active{
    background: #FFD983 0% 0% no-repeat padding-box;
  }
.profile_nav_list li .icon_wrapper{
    background: #DBE8FF  0% 0% no-repeat padding-box;
    border-radius: 50%;--size: 33px;width: var(--size);
    height: var(--size);text-align: center;
    line-height: var(--size);margin-left: 11px;
}
.profile_nav_list li.active .icon_wrapper{background: #FFFFFF 0% 0% no-repeat padding-box;}


.profile_nav_list li .text{
font: normal normal bold 20px/33px "bahij_Helvetica_bold";
color: #4269EF;
}

.nav_content {
    position: relative;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 0px 26px 0px 0px;
    box-shadow: 0px 5px 28px #0000000a;
    min-height: 100vh;
}

.avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 83px;
    text-align: center;
}
.avatar .avatar_text{
font: normal normal bold 22px/37px "bahij_Helvetica_bold";
color: #303868;
}
/* mobile */
@media (max-width: 991.9px) {
    .nav_content {min-height: auto; padding-bottom: 20px;margin-bottom: 30px;}
    }
/* =================== Tab Content  ===================== */

.tab_content{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 28px #0000000a;
    border-radius: 26px 0 0;
    padding: 40px 45px;
    min-height: 100vh;
}

.tab_content h2.table_title {
    font: normal normal bold 32px/53px "bahij_Helvetica_bold";
    color: #4269EF;
}

.tab_content .full_date {
    display: flex;
    align-items: center;
    justify-content: end;
}

.tab_content .full_date .time{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-left: 35px;
    text-align: center;
    background-image: url(/assets/profile_t.png);
    background-size: cover;
}

.tab_content .full_date .time span{
    display: inline-block;
    margin: auto;
    color: #4269EF;
}
.tab_content .full_date .time > span{
    font: normal normal bold 17px/14px "bahij_Helvetica_bold";
}
.tab_content .full_date .time span span{
    font: normal normal bold 10px/4px "bahij_Helvetica_roman";
}


.tab_content .full_date .date{
    width: 90px;
    height: 90px;
    background-image: url(/assets/calendar.png);
    background-size: cover;
}
.tab_content .full_date .date span{
    /* height: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    /* margin-top: 11px; */
    color: #4269EF;
    display: block;
}

.tab_content .full_date .date span:first-child{
    font: normal normal bold 20px/13px "bahij_Helvetica_bold";
    margin-top: 45%;
}
.tab_content .full_date .date span:last-child{
    font: normal normal normal 14px/10px "bahij_Helvetica_roman";
}

.tab_content .full_date .time {
    color: #949497;
    display: flex;
    align-items: center;
}

@media (max-width:991.9px) {
    .tab_content h2.table_title{ font: normal normal bold 31px/53px "bahij_Helvetica_bold";}
}

@media (max-width: 767.9px) {
    .tab_content .full_date {
        justify-content: space-between;
        padding-top: 30px;;
    }

    }

    @media (max-width: 410px) {

        .tab_content .full_date {
            flex-direction: column-reverse;
            align-items: center;
        }
        .tab_content .full_date .time{margin-left: 0;margin-top: 10px;}
    }
/* ====== Class Schedule ======== */
.class_schedule {
    position: relative;
}
.class_schedule::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    min-height: 355px;
    background-image: url(/assets/class_shudl.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.class_schedule .days {
    display: grid;
    --rowNum: 1;
    --colNum: 5;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), auto);
    grid-gap: 1rem;
    text-align: center;
    padding-top: 93px;
}

.class_schedule .day_head {
    background: #80AEFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 16px 0;
    color: #FFF;
    font: normal normal bold 20px/33px "bahij_Helvetica_bold";
}

.class_schedule .day_body {
    margin-top: 11px;
    background: rgb(255 217 131 / 34%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    min-height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: normal normal bold 16px/27px "bahij_Helvetica_bold";
}

.class_schedule .day_body h4 {
    color: #303868;
    margin-bottom: 8px;
    font: normal normal bold 20px/27px "bahij_Helvetica_bold";
}

.class_schedule .day_body .time {
    color: #949497;
    display: flex;
    align-items: center;
}

.class_schedule .day_body .time > span {
    margin-right: 5px;
    font: normal normal bold 16px/27px "bahij_Helvetica_bold";
}

.class_schedule .tab_content {
    padding-top: 39px;
}

/* ====== curricula ======== */

.curricula .item_des p {
    font: normal normal normal 16px/26px "bahij_Helvetica_roman";
    color: #303868;
    text-align: right;
    padding: 13px 10px 5px;
}

.curricula .item_des .date {
    display: inline-block;
    margin-right: 7px;
    color: #515151;
}

.curricula .image_wrapper img{
border-radius: 12px;
}
.curricula .item_des .day_wrapper {
    font: normal normal bold 14px/23px "bahij_Helvetica_bold";
    margin: 10px;
    display: flex;
    align-items: center;
}

.curricula .day_wrapper > span {margin-left: 5px !important;}

.curricula .items {
    display: grid;
    --rowNum: 1;
    --colNum: 3;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), auto);
    grid-gap: 1rem;
    text-align: center;
    padding-top: 93px;
}

.curricula .items .item {
    background: #E7EFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding: 15px 10px 15px;
}


/* ====== chatform ======== */
.chatform .items{padding: 70px 0;}

.chatform .item {
    display: flex;
    margin-bottom: 30px;

}
.chatform .item.receive{
    justify-content: left;
    /* flex-direction: row-reverse; */
}
.chatform .item.send{   justify-content: start; flex-direction: row-reverse;}
.chatform .item.send .time {
    text-align: right;
}

.chatform .item .right_side {
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}

.chatform .item span.person_name {
    font: normal normal normal 14px/22px "Bahij_Helvetica_roman";
    color: #707070;
    display: block;
    text-align: left;
}

.chatform .item  .message_wrapper{
    background: rgb(128 174 255 / .4) 0% 0% no-repeat padding-box;
    border-radius: 22px 22px 22px 0px;
    padding: 20px 33px;
    margin: 6px 0;
}
.chatform .item  .message {font: normal normal normal 18px/29px "Bahij_Helvetica_roman";color: #515151;}

.chatform .item  .time {
    font: normal normal normal 14px/22px "bahij_Helvetica_roman";
    color: #707070;
    text-align: left;
    display: block;
}



.chatform .item .left_side {
    margin-top: auto;
    padding-bottom: 24px;
}

/* chat form */

.form_chat form{
    display: grid;
    grid-template-columns: 92% auto;
    align-items: center;
}
.form_chat .text_input{
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding-right: 25px;
    width: 100%;
    /* max-width: 775px; */
    border: none;
    min-height: 57px;
}
.form_chat .text_input::placeholder{
font: normal normal normal 16px/26px "bahij_Helvetica_roman";
color: #515151;
}
.form_chat .form_btns{
    display: inline-block;
    margin-right: 27px;
}
.form_chat .form_btns .send_icon{
    background: transparent;
    border: 0;
    cursor: pointer;
}


/* Chat Responsive */

@media (max-width:622.9px) {
    .chatform .item  .message_wrapper{padding: 15px;}
}
@media (max-width:400.9px) {
    .chatform .item  .message_wrapper{padding: 10px;}
}
@media (max-width:500px) {
    .form_chat .form_btns  {    margin-right: 15px;}

}