.form_wrapper{
    margin: 0 auto;
    padding: 31px 28px 39px 34px;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #3038680a;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    max-width: 384px;
}
.form_wrapper h2{
    font: normal normal bold 24px/40px 'bahij_Helvetica_bold';
    color: #2E386B;
    text-align: center;
    margin-bottom: 17px;
}
.form_wrapper label{
    display: block;
    font: normal normal normal 14px/22px "bahij_Helvetica_roman";
    color: #2E386B;
    margin-bottom: 6px;
}
.form_wrapper input{
    background: #FAFBFF 0% 0% no-repeat padding-box;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    padding: 12px 15px;
    display: block;
    width: 100%;
}
.form_wrapper form > div{margin-bottom: 16px;}
.form_wrapper .form_check label{
margin-bottom: 0;margin-right: 8px;
}

.form_wrapper p{
font: normal normal normal 18px/29px "bahij_Helvetica_roman";
margin-bottom: 27px;
color: #707070;
text-align: center;
}

.form_info{
    display: flex;
    justify-content: center;
    margin-top: 27px;

}
.form_info span{
font: normal normal normal 18px/29px "bahij_Helvetica_roman";
color: #303868;
margin-left: 12px;
}
.form_info a{
font: normal normal bold 18px/30px 'bahij_Helvetica_bold';
color: #80AEFF;
}


@media (max-width: 480px) {
    .form_info {
        margin-bottom: 60px;
    }

}